/* .hikeAlterButton {
    background: linear-gradient(315deg, #485461 0%, #28313b 74%);
    border-radius: 12px;
    border: 1px solid rgb(72, 86, 97);
    color: rgb(208, 198, 198);
    font-size: 18px;
    padding: 0.2rem;
    font-family: Copperplate, fantasy;
    letter-spacing: 1px;
    width: 12rem;
    margin: .25rem;
    margin-left: 2.5rem;
}

.hikeContainer {
    margin-bottom: 2rem;
}

.hikeButtons {
    display: flex;
    justify-content: center;
}

.individualHike{
    margin-bottom:2rem;
}
.hike_list {
    display: flex;
    flex: 1;
    flex-direction: row;
    

}

.imageContainer {
    display: flex;
    flex-direction: column;
}

.textContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 1rem;
    padding-right: 1rem;
}

.hikePicture {
    border-radius: 2rem;
}

.hikeForm_title {
    display: flex;
    flex: wrap;
    justify-content: center;
    padding: 2rem;
    margin: 2rem;
}

.searchBar {
    display: flex;
    flex: wrap;
    justify-content: center;
    padding: 2rem;
}

.form_group {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.newHike{
    margin-left: 2rem;
    font-size: xx-large;
}

.updateHike{
    margin-left: 2rem;
    font-size: xx-large;
} */