.climb {
    display: flex;
    flex-direction: column;
}

.climb {
    background-color: rgb(221, 195, 245);
    border: dotted 1px darkmagenta;
    padding: 0.7rem;
    margin: 0.5rem;
}

button { 
    margin: 1em 1em 0 0;
}