
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
    color: black;
    background-color: #7FFFD4;
    height: 60px;
    border-radius: 1em;

}

