.h1,
h1 {
    font-size: 2.5rem;
    font-family: Copperplate, fantasy;
    text-align: center;
}

.h2,
h2 {
    font-family: Copperplate, fantasy;
    /* text-align: center; */
}

.emailAddress {
    font-family: Copperplate, fantasy;
    font-size: large;
}

fieldset {
    min-width: 0;
    margin: 0;
    border: 0;
}

.container--login {
    text-align: center;
    justify-items: end;
}

.form--login>fieldset>input[type="email"] {
    width: 25em;
}

.form-control {
    padding: .25rem;
    font-size: 1rem;
    line-height: 2;
    color: black;
    /* background-color: #fff;
    background-clip: padding-box; */
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
/* background: transparent; */
}

.form--login {
    background-position-x: right;
    z-index: 1;
    background-color: rgba(18, 16, 16, 0.4);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    padding: 2rem;
    border-radius: 1rem;
}

.signInButton {
    background: linear-gradient(315deg, #485461 0%, #28313b 74%);
    border-radius: 12px;
    border: 1px solid rgb(72, 86, 97);
    color: rgb(208, 198, 198);
    font-size: 18px;
    padding: 0.2rem;
    font-family: Copperplate, fantasy;
    letter-spacing: 1px;
    width: 13rem;
}

.registerLink {
    text-decoration: underline;
    color: black;
}

.tetonBarn {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 1px;
    width: 100%;
    z-index: 0;
}