.registerButton {
    background: linear-gradient(315deg, #485461 0%, #28313b 74%);
    border-radius: 12px;
    border: 1px solid rgb(72, 86, 97);
    color: rgb(208, 198, 198);
    font-size: 18px;
    padding: 0.2rem;
    font-family: Copperplate, fantasy;
    letter-spacing: 1px;
    width: 13rem;
}

.form--login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pleaseRegister {
    text-align: center;
    font-family: Copperplate, fantasy;
    color: white;
    font-size: 2.5rem;
}

.registerName {
    font-family: Copperplate, fantasy;
    font-size: large;
    width: 100%;
}

.registerEmail {
    font-family: Copperplate, fantasy;
    font-size: large;
    font-weight: bolder;
    width: 100%;
}

input:not([type="radio"]){
    width: 100%;
}

span {
    overflow: hidden;
    padding-right: 10px;
}